.coverage__block {
  margin-top: 159px;

  .cyber__risk__info {
    margin-bottom: 116px;

    &-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.6;
      width: 62%;
      margin: 32px auto 57px auto;

      a {
        color: inherit;
        font-family: inherit;
        text-decoration: rgba(255, 255, 255, 0.5) underline;
      }
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      margin: 0 29px;

      li {
        background: rgba(70, 62, 160, 0.5);
        backdrop-filter: blur(30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;

        @media (max-width: 767px) {
          padding: 40px 0;
        }

        p span {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 120%;
          text-align: center;
          letter-spacing: -0.01em;
          color: #FFFFFF;
          opacity: 1;

          @media (max-width: 767px) {
            font-size: 24px;
          }
        }

        p.text {
          margin-top: 46px;
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 120%;
          text-align: center;
          color: #B6AFEB;
          max-width: 372px;

          @media (max-width: 767px) {
            font-size: 24px;
          }
        }
      }
    }
  }

  .about__cyber__protection {
    margin-bottom: 20px;

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      max-width: 980px;
      margin: 0 auto 62px auto;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      margin: 0 242px;

      &__item {
        padding: 72px 56px;
        background: rgba(70, 62, 160, 0.5);
        backdrop-filter: blur(30px);

        &-text {
          color: rgba(254, 254, 254, 0.60);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;

          span {
            color: #FEFEFE;
            font-weight: 700;
          }
        }
      }
    }
  }

  .customer__dashboard {
    margin: 0 242px;
    background: rgba(70, 62, 160, 0.5);
    backdrop-filter: blur(30px);
    padding-bottom: 78px;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      padding-top: 39px;
      margin-bottom: 24px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      opacity: 0.5;
      margin: 0 auto 48px auto;

      span {
        white-space: pre;

        &:before {
          content: '\A';
        }
      }
    }

    a {
      padding: 12px 14px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      display: block;
      margin: 0 auto 5px auto;
      width: fit-content;
      overflow: hidden;
      position: relative;

      svg {
        vertical-align: middle;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);

        &::before {
          bottom: 18px;
        }

        &::after {
          bottom: 50px;
        }
      }

      &::before {
        content: 'Contact us';
        position: absolute;
        bottom: -50px;
        left: 46px;
        transition: all 500ms ease;
      }

      &::after {
        content: 'Contact us';
        position: relative;
        bottom: 0;
        transition: all 500ms ease;
        vertical-align: middle;
      }
    }

    &-img {
      width: fit-content;
      margin: 0 auto;
      padding-top: 89px;
    }
  }
}

.executive__team {
  margin: 0 242px;
}

.company__employees-executive__team {
  margin-top: 72px;

  h3 {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #F6F6F6;
    width: fit-content;
    margin: 0 auto 40px auto;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;

    &__item {
      background: rgba(70, 62, 160, 0.50);
      backdrop-filter: blur(30px);
      padding: 32px;

      &-info {
        display: flex;
        column-gap: 21px;
        align-items: center;
        margin-bottom: 94px;

        @media (max-width: 1240px) {
          align-items: flex-start;
        }

        &__name {
          h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 19.3846px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: rgba(254, 254, 254, 0.6);
            opacity: 0.3;
          }
        }
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #E7E8EE;
      }
    }
  }
}

.trusted__by__industry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 14px 0 44px 0;
    max-width: 511px;
  }

  @media (max-width: 1023px) {
    margin: 45px 0;

    h2 {
      font-size: 32px;
    }

    p {
      margin: 12px 0 22px 0;
    }
  }

  @media (max-width: 767px) {
    p {
      font-size: 18px;
    }
  }

  @media (max-width: 389px) {
    h2 {
      font-size: 29px;
    }
  }
}

@media (max-width: 1439px) {
  .coverage__block {
    .cyber__risk__info {
      margin-bottom: 72px;

      &-subtitle {
        width: 85%;
      }

      ul {
        margin: 0 70px;
      }
    }

    .about__cyber__protection {
      h2 {
        max-width: 960px;
      }

      &-list {
        margin: 0 85px;
      }
    }

    .customer__dashboard {
      margin: 0 85px;

      &-img img {
        width: 95%;
      }
    }

    .executive__team {
      margin: 0 85px;
    }
  }
}

@media (max-width: 1023px) {
  .coverage__block {
    margin-top: 60px;

    .cyber__risk__info {
      margin-bottom: 56px;

      h1 {
        font-size: 39px;
      }

      &-subtitle {
        font-size: 18px;
      }

      ul {
        margin: 0 10px;
      }
    }

    .about__cyber__protection {
      h2 {
        font-size: 32px;
        max-width: 600px;
        margin-bottom: 20px;
      }

      &-list {
        margin: 0 10px;

        &__item-text .text {
          font-size: 18px;
        }
      }
    }

    .customer__dashboard {
      margin: 0 10px;

      h2 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
        padding: 0 13px;
      }
    }

    .executive__team {
      margin: 0 10px;
    }
  }
}

@media (max-width: 767px) {
  .coverage__block {
    .cyber__risk__info {
      h1 {
        padding: 0 10px;
      }

      ul {
        grid-template-columns: 1fr;
        grid-row-gap: 24px;

        li {
          &:nth-child(2) {
            border: none;
            border-top: 1px solid rgba(225, 225, 225, 0.1);
            border-bottom: 1px solid rgba(225, 225, 225, 0.1);
            padding: 24px 0;
          }
        }
      }
    }

    .about__cyber__protection {
      h2 {
        padding: 0 10px;
      }

      &-list {
        grid-template-columns: 1fr;
        row-gap: 16px;

        &__item {
          grid-template-columns: auto;
          align-items: normal;
          row-gap: 48px;
          padding: 56px 32px;

          &-picture {
            display: grid;
            grid-template-columns: 156px 1fr;
            column-gap: 33px;
            max-width: none;

            .signature {
              font-size: 12px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .customer__dashboard {
      padding-bottom: 50px;
      p {
        span {
          white-space: normal;
        }
      }

      &-img {
        padding-top: 50px;

        img {
          width: 150%;
          position: relative;
          left: -15%;
        }
      }
    }
  }

  .company__employees-executive__team {

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 16px;
    }
  }
}

@media (max-width: 360px) {
  .coverage__block {
    .cyber__risk__info {
      ul {
        li {
          p.h3-heading {
            span::before {
              content: '\A';
            }
          }

          p.text {
            span::before {
              content: '\A';
            }
          }
        }
      }
    }

    .about__cyber__protection-list__item-picture {
      grid-template-columns: 126px 1fr;

      svg {
        width: 100%;
      }
    }
  }
}