footer {
  background: #FFFFFF;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 193px;
  padding-top: 30px;
  margin-top: 70px;

  p {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #83848A;
    max-width: 60%;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      max-width: none;
    }
  }

  .line {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
  }

  .footer__links {
    margin-top: 16px;

    a {
      font-family: 'Commissioner', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #83848A;
    }

    .ml {
      margin: 0 40px;
    }
  }

  .footer__nav {
    display: none;
  }
}

@media (max-width: 1023px) {
  .footer__wrapper {
    padding: 0 16px;
    padding-top: 30px;
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    padding: 30px 16px 87px 16px;

    .footer__links a.ml {
      margin: 0 30px;
    }


    .footer__nav {
      display: block;
      margin-top: 54px;
      background: rgba(49, 43, 50, 0.7);
      backdrop-filter: blur(15px);
      border-radius: 43px;
      padding: 19px 32px;
      text-transform: uppercase;

      a {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFFFFF;

        &.active {
          opacity: 0.3;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .footer__wrapper {
    .footer__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  }
}
