.privacy__block,
.terms__block{
  margin: 108px 0 0 153px;
  max-width: 991px;
  h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #000000;
  }
  h3,p,li,a {
    font-family: "Commissioner", sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  h3 {
    font-weight: 600;
    margin-top: 83px;
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  p {
    margin-top: 27px;
    color: #646464;
    font-weight: 400;
  }

  a:visited {
    color: #0d0def;
  }

  ul {
    margin-top: 27px;
  }

  li {
    list-style: disc;
    margin-left: 26px;
    color: #646464;
  }
}


@media (max-width: 1439px) {
  .privacy__block,
  .terms__block{
    margin: 65px 0 0 134px;
    max-width: 820px;
  }
}

@media (max-width: 1023px) {
  .privacy__block,
  .terms__block{
    margin: 65px 0 0 85px;
    max-width: 640px;

    h3 {
      margin-top: 42px;
    }
  }
}

@media (max-width: 767px) {
  .privacy__block,
  .terms__block{
    margin: 30px 0 0 16px;
    max-width: 340px;
  }
}