@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;700&family=JetBrains+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, .h2-heading, p, .text, .data__science-wrapper__item-text {
  font-family: 'Commissioner', sans-serif;
}

a, h3, h4, .h3-heading {
  font-family: 'JetBrains Mono', monospace;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}

//.br {
//  border-radius: 16px;
//}

body {
  position: relative;
}
section,
.sphere__background,
.sphere__background__two,
.coverage__block-sphere__one,
.coverage__block-sphere__two,
.coverage__block-sphere__three,
.coverage__block-sphere__four,
.coverage__block-sphere__five,
.coverage__block-sphere__six,
.company__block-sphere__one,
.company__block-sphere__two,
.download__form__block-sphere__one,
.download__form__block-sphere__two,
.download__form__block-sphere__three,
.first__content__block-sphere__bg-one,
.first__content__block-sphere__bg-two,
.first__content__block-sphere__bg-three,
.second__content__block-sphere__bg-one,
.second__content__block-sphere__bg-two,
.first__content__block,
.first__content__block-wrapper,
.second__content__block,
.second__content__block-wrapper,
.resources__sphere-bg__one,
.resources__sphere-bg__two,
.resources__sphere-bg__three,
.resources__policy-sphere-one,
.resources__policy-sphere-two,
.resources__policy-sphere-three,
.resources__info-block__two-quote__sphere-one,
.resources__info-block__two-quote__sphere-two,
.resources__info-block__three-sphere__one,
.resources__info-block__three-sphere__two,
.resources__downloads-sphere__one,
.resources__downloads-sphere__two,
.resources__downloads-sphere__three, {
  transform: translate3d(0, 0, 0);
}

.sphere__background {
  position: absolute;
  width: 1263px;
  height: 1253px;
  left: 882px;
  top: -431px;
  mix-blend-mode: normal;
  filter: blur(130px);
  border-radius: 100%;
  z-index: 1;
  opacity: 0.7;
  background: #2f5af2;
  background: -moz-linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  background: -webkit-linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  background-size: 1263px 1253px;
  transition: all 0.5s;

  @media (max-width: 1600px) {
    left: 662px;
  }

  @media (max-width: 1340px) {
    left: 472px;
  }

  @media (max-width: 1023px) {
    left: 362px;
  }

  @media (max-width: 700px) {
    left: 234px;
  }

  @media (max-width: 400px) {
    left: 132px;
    opacity: 1;
  }
}

.sphere__background__two {
  position: absolute;
  width: 1145px;
  height: 1137px;
  left: -412px;
  top: 2432px;
  background: #2f5af2;
  background: linear-gradient(180deg, rgba(47, 90, 242, 0.6) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
  mix-blend-mode: normal;
  opacity: 0.6;
  filter: blur(130px);
  border-radius: 100%;
  background-size: 1145px 1137px;
  
  @media (max-width: 1340px) {
    top: 2822px;
  }

  @media (max-width: 1023px) {
    top: 2451px;
  }

  @media (max-width: 767px) {
    top: 2122px;
  }
}

main,
.footer__wrapper,
header {
  max-width: 1400px;
  margin: 0 auto;
}

.animate__block {
  opacity: 0;
}

.element__show {
  animation: show-element 1.5s 1;
  opacity: 1;
}

@keyframes show-element {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.content__wrapper {
  position: relative;
  z-index: 5;
}

.coverage__block-sphere {
  &__one {
    position: absolute;
    width: 1137px;
    height: 854px;
    left: -300px;
    top: -427px;
    background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
    background-size: 1137px 854px;
    opacity: 0.6;
    filter: blur(156px);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      width: 925px;
      background-size: 925px 854px;
    }

    @media (max-width: 1100px) {
      left: -311px;
      top: -499px;
    }

    @media (max-width: 650px) {
      width: 639px;
      height: 590px;
      background-size: 639px 590px;
      left: -325px;
      top: -295px;
    }
  }

  &__two {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 815px;
    top: -488px;
    background: #2f5af2;
    background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
    background-size: 1263px 1253px;
    mix-blend-mode: normal;
    filter: blur(130px);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      left: 625px;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__three {
    position: absolute;
    width: 1237px;
    height: 1142px;
    left: -390px;
    top: 673px;
    background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
    background-size: 1237px 1142px;
    opacity: 0.2;
    filter: blur(156px);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      left: -456px;
    }

    @media (max-width: 1100px) {
      left: -678px;
    }

    @media (max-width: 767px) {
      width: 828px;
      height: 833px;
      background-size: 828px 833px;
      left: -374px;
      top: 561px;
    }

    @media (max-width: 650px) {
      left: -632px;
    }
  }

  &__four {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 877px;
    top: 756px;
    background: #2f5af2;
    background: linear-gradient(180deg, rgba(47, 90, 242, 0.7) 0%, rgba(112, 97, 163, 0.9) 50%, rgba(245, 138, 37, 0.3) 100%);
    background-size: 1263px 1253px;
    mix-blend-mode: normal;
    filter: blur(130px);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      left: 625px;
    }

    @media (max-width: 1100px) {
      left: 446px;
    }

    @media (max-width: 767px) {
      width: 846px;
      height: 913px;
      background-size: 846px 913px;
      left: 222px;
      top: 558px;
    }

    @media (max-width: 650px) {
      left: 68px;
    }
  }

  &__five {
    position: absolute;
    width: 1232px;
    height: 1093px;
    left: -327px;
    bottom: 0;
    background: linear-gradient(180deg, #FFC27B 0%, rgba(255, 197, 111, 0.46) 100%);
    background-size: 1232px 1093px;
    opacity: 0.4;
    filter: blur(156px);
    transform: rotate(-180deg);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      width: 882px;
      height: 879px;
      background-size: 882px 879px;
    }

    @media (max-width: 786px) {
      display: none;
    }
  }

  &__six {
    position: absolute;
    width: 1263px;
    height: 1253px;
    right: -330px;
    bottom: -675px;
    background: #2f5af2;
    background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 30%, rgba(245, 138, 37, 0.3) 100%);
    background-size: 1263px 1253px;
    mix-blend-mode: normal;
    filter: blur(130px);
    transform: rotate(-180deg);
    border-radius: 100%;
    z-index: -1;

    @media (max-width: 1600px) {
      right: -507px;
    }

    @media (max-width: 1100px) {
      right: -857px
    }

    @media (max-width: 786px) {
      display: none;
    }
  }
}

.company__block-sphere {
  &__one {
    position: absolute;
    width: 855px;
    height: 612px;
    left: -115px;
    top: -290px;
    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    background-size: 855px 612px;
    opacity: 0.3;
    filter: blur(100px);
    border-radius: 100%;
    z-index: 4;

    @media (max-width: 1600px) {
      width: 617px;
      height: 612px;
      background-size: 617px 612px;
      left: -115px;
      top: -290px;
    }

    @media (max-width: 1100px) {
      left: -212px;
    }

    @media (max-width: 768px) {
      width: 639px;
      height: 590px;
      background-size: 639px 590px;
      left: -325px;
      top: -295px;
    }
  }

  &__two {
    position: absolute;
    width: 1496px;
    height: 1121px;
    left: 940px;
    top: -72px;
    mix-blend-mode: normal;
    filter: blur(130px);
    background: #2f5af2;
    background: linear-gradient(180deg, rgba(47, 90, 242, 0.4) 0%, rgba(112, 97, 163, 0.9) 50%, rgba(245, 138, 37, 0.4) 100%);
    background-size: 1496px 1121px;
    border-radius: 100%;
    z-index: 3;

    @media (max-width: 1600px) {
      width: 1263px;
      background-size: 1263px 1121px;
      left: 739px;
      top: -45px;
    }

    @media (max-width: 1100px) {
      left: 639px;
    }

    @media (max-width: 768px) {
      width: 1263px;
      height: 1253px;
      background-size: 1263px 1253px;
      left: -98px;
      top: -73px;
    }
  }
}

.download__form__block-sphere {
  &__one {
    position: absolute;
    width: 617px;
    height: 612px;
    left: -115px;
    top: -290px;
    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    background-size: 617px 612px;
    opacity: 0.3;
    filter: blur(100px);
    z-index: -1;
  }

  &__two {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: 521px;
    top: -342px;
    background: linear-gradient(180deg, #2F5AF2 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
    background-size: 1263px 1253px;
    mix-blend-mode: normal;
    opacity: 0.3;
    filter: blur(130px);
    z-index: -1;
  }

  &__three {
    position: absolute;
    width: 1263px;
    height: 1253px;
    left: -492px;
    top: 435px;
    background: linear-gradient(180deg, #2F5AF2 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
    background-size: 1263px 1253px;
    mix-blend-mode: normal;
    opacity: 0.3;
    filter: blur(130px);
    z-index: -1;
  }
}

@import "header";
@import "coverage";
@import "privacy";
@import "footer";